
.container{
    max-width: 1200px;
    margin: 0 auto;
}
body, html{
    height: 100%;
}
.wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.main{
    flex: 1 1 auto;
}
.footer{
    flex: 0 0 auto;
}

.title{
    font-size: 32px;
    font-weight: 300;
    color: #929292;
    text-align: center;
}
.subtitle{
    margin-top: 20px;
    font-size: 27px;
    font-weight: 300;
    color: #929292;
    text-align: center;
}
.header__profile{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
}
.header__img{
    width: 120px;
}

@media (max-width:576px){
    .title{
        font-size: 24px;
    }
    .subtitle{
        font-size: 18px;
        margin-top: 5px;
    }
    .header__profile{
        text-align: center;
        font-size: 18px;
    }
}
.main__text{
    height: 100%;
    margin-top: 20px;
    line-height: 39px;
    font-size: 30px;
    background: rgb(238, 238, 238);
    color: black;
}
@media (max-width:992px){
    .main__text{
        font-size: 15px;
    }
}
@media (max-width:576px){
    .main__text{
        padding: 10px 0 10px 20px;
    }
}
.footer{
    padding: 50px 0;
    background-color: rgb(18, 50, 62);
}
.footer__wrapper{
    display: flex;
    justify-content: space-around;
}

.footer__item{
    text-decoration: none;
    margin-left: 13px;
}
.fab {
    color: #fff;
}
.footer__logo{
    display: flex;
    flex-direction: column;
}
.footer__link{
    font-size: 22px;
    margin-top: 10px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}
.footer__info{
    display: flex;
    flex-direction: column;
}
.footer__phone{
    font-size: 24px;
    color: #ffff;
}
.footer__mobile{
    font-size: 18px;
    margin-top: 10px;
    text-align: right;
    text-decoration: none;
    color: #fff;
}
@media (max-width:992px){
    .footer{
        padding: 25px 0;
    }
    .footer__img{
        width: 200px;
    }
    .footer__link{
        font-size: 15px;
    }
    .footer__phone{
        font-size: 18px;
    }
    .footer__mobile{
        font-size: 13px;
    }
}
@media (max-width:576px){
    .footer{
        padding: 10px 0;
    }
    .footer__wrapper{
        flex-direction: column;
        align-items: center;
    }
    .footer__logo{
        margin-top: 15px;
    }
    .footer__phone{
        display: none;
    }
}